html
{
    height: 50%;
}

body
{
	border:0px solid black;
	margin:0 auto;
	width:900px;
	font-family:Verdana;
    height: 100%;
}

@font-face
{
    font-family: BPdotsUnicaseSquare;
    src: url(/fonts/BPdotsUnicaseSquare/BPdotsUnicaseSquare.ttf);
}

header, footer							
{									
	border:0px solid blue;			
	padding:20px 20px;
	margin:0px;
	font-size:24px;
	text-align:center;
	background-color:RGBA(240,240,240,255);
}

aside							
{									
	border:0px solid blue;			
	padding:0px 20px;				
	margin:20px 20px;
	float:left;
	width: 160px;
    height: 5%;
}

section							
{									
	border:0px solid blue;			
	padding:20px 20px;				
	margin:20px 20px 20px 0px;
	float: right;
	width: 590px;
    min-height: 100%;
}

section h3
{
    text-transform: capitalize;
}

footer							
{									
	border:0px solid blue;			
	padding:20px 20px;				
	margin-top:20px;
	clear: both;
}

aside ul
{
	list-style-type:none;
	border:0px solid black;
	padding:0px;
    text-align: right;	
}

aside ul li
{
	border:0px solid red;
	/*width:100px;*/
}

a
{
    text-decoration: none;
    font-size: 0.8em;
}

a:link
{
    color: RGBA(10,10,10, 0.8);
}

a:visited
{
    color: RGBA(10,10,10, 0.8);
}

a:hover
{
    color: RGBA(30, 30, 30, 1);
    font-size: 0.9em;
}

a:active
{
    font-size: 1.2em;
    color: RGBA(1, 0, 80, 1);
}

section p
{ 
    color: RGBA(1, 0, 80, 1);
    /*text-align: center;*/
    text-align: justify;
    /*text-align: right;*/
    text-indent: 2em;
    font-size: 0.8em;
}

section p
{
    line-height: 140%;
}

section p.times-roman
{
    font-family: BPdotsUnicaseSquare;
    font-size: 1.5em;
}

section p.arial
{
    font-family: Arial;
}

section p.bauhaus-93
{
    font-family: 'Bauhaus 93' Arial;
}

ul#pyramidpanic_image
{
    list-style-image: url(images/pyramid.ico);
}

table#login
{
    font-size: 0.8em;
}

table#login, table#login th, table#login td
{
    border: 1px solid RGBA(1, 0 ,80, 0.8);
    border-collapse: collapse;
    width: 80%;
}

table#login th
{
    text-align: left;
    background-color: RGBA(1, 0, 80, 0.6);
    color: white;
}

table#login td, th
{
    padding: 0.6em;
}

table#login tr:nth-of-type(2n + 1)
{
    background-color: RGBA(200,200,200,1);
}


			