html
{
    height: 50%;
}

body
{
	border:0px solid black;
	margin:0 auto;
	width:900px;
	font-family:Verdana;
    height: 100%;
}

header, footer							
{									
	border:0px solid blue;			
	padding:20px 20px;
	margin:0px;
	font-size:24px;
	text-align:center;
	background-color:RGBA(240,240,240,255);
}

aside							
{									
	border:0px solid blue;			
	padding:0px 20px;				
	margin:20px 20px;
	float:left;
	width: 160px;
    height: 5%;
}

section							
{									
	border:0px solid blue;			
	padding:20px 20px;				
	margin:20px 20px 20px 0px;
	float: right;
	width: 590px;
    min-height: 100%;
}

footer							
{									
	border:0px solid blue;			
	padding:20px 20px;				
	margin-top:20px;
	clear: both;
}

aside ul
{
	list-style-type:none;
	border:0px solid black;
	padding:0px;
	
}

aside ul li
{
	border:0px solid red;
	/*width:100px;*/
}

a
{
    text-decoration: none;
    font-size: 0.8em;
}

a:link
{
    color: RGBA(10,10,10, 0.8);
}

a:visited
{
    color: RGBA(10,10,10, 0.8);
}

a:hover
{
    color: RGBA(30, 30, 30, 1);
    font-size: 0.9em;
}

a:active
{
    font-size: 1.1em;
}

p
{ 
    color: RGBA(60, 60, 60, 1);
    /*text-align: center;*/
    text-align: justify;
    /*text-align: right;*/
}
			